<!-- Methods in result PORO called here to display the results -->
<h1>User Location: <%= @results.location.name %></h1>
<h1>Edge Cache One: <%= @results.server1.name %></h1>
<h1>Edge Cache Two: <%= @results.server2.name %></h1><br><br>

<h2>Closest Server: <%= @results.closest_location.name %></h2>

<h2>Round Trip Time: About <%= @results.round_trip_time %> milliseconds</h2>

<h2>Maximum Bandwidth: About <%= @results.maximum_bandwidth %> bits</h2>
